version: "3.7"
services:
  nginx:
    image: {{ datacork_registry }}/nginx-prometheus:{{ nginx_version }}
    container_name: {{ container_name }}
    ports:
      - "80:80"
      - "443:443"
    networks:
      - monitoring-network
    restart: always

networks:
  monitoring-network:
    driver: bridge
    name: monitoring-network
