@font-face {
  font-family: 'Main';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Main';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Main';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Main';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Main';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Main-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Main-SemiBold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-display: swap;
}
