@import "../../../../assets/scss/vars";

.root {
  .actions {
    display: flex;
    justify-content: space-between;

    .button {
      width: 100%;
      margin-top: 20px;
      min-height: 40px;

      &.cancel {
        background-color: $colorGray-400;
      }
    }

    button + button {
      margin-left: 10px;
    }
  }
}
