@import '../../../../../assets/scss/vars';
@import '../../../../../assets/scss/common';

.root {
  @extend .AbstractInput;

  display: block;
  width: 100%;
  background: #fff;
  color: $colorGray-300;
  border: none;

  &[disabled],
  &[readonly] {
    color: $colorGray-450;
  }

  &.dark {
    background: $darkBlack100;
    color: #fff;

    &[disabled],
    &[readonly] {
      cursor: default;
      color: $colorGray-350;
    }
  }
}
