@import '../../../assets/scss/vars';

.datapicker {
  position: relative;
  height: 265px;

  .footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    height: 32px;

    .button {
      margin-right: 13px;
      cursor: pointer;
      width: 64px;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.7px;
      text-align: center;
      color: #ffffff;
      line-height: 26px;
      border-radius: 3px;
      box-shadow: 0 5px 25px 0 rgba(80, 105, 230, 0.3);
      background-color: $colorRed;
    }
  }
}
