@keyframes notificationEnter {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.enter {
  animation-name: notificationEnter;
}

@keyframes notificationExit {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.exit {
  animation-name: notificationExit;
}
