@import '../../../assets/scss/vars';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;

  .item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid $darkBorder300;

    span {
      padding-left: 10px;
      font-family: $fontApp;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      color: $colorGray-350;
    }

    .icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 50px;
      overflow: hidden;
      color: $colorGray-600;
      transition: all 0.2s;
    }
  }

  &.dark {
    background: $darkBlack100;

    .item {
      .icon {
        color: $colorGray-350;
      }

      &.active,
      &:hover {
        box-shadow: none;
        background: $darkGreen300;

        span,
        .icon {
          color: #fff;
        }
      }
    }
  }
}
